<ion-view view-title="Güncel Haberler">
    <ion-content class="im-wrapper">
        <div ng-repeat="d in dashboard">
            <div class="list card stable-bg">
                <div class="item item-avatar">
                    <img src="img/stvsen.jpg">
                    <h2 ng-bind-html="d.title.rendered"></h2>
                    <p><span ng-repeat="c in d.categories">{{categories[c]}}, </span></p>
                </div>
                <div class="item item-body">
                    <div ng-bind-html="d.content.rendered"></div>
                    <div class="avia_content" ng-if="d.avia_content">
                        <ion-slides options="options" slider="data.slider">
                            <ion-slide-page ng-repeat="s in d.avia_content">
                                <img src="{{s}}">
                            </ion-slide-page>
                        </ion-slides>
                    </div>
                </div>
                
                <!--<div class="item tabs tabs-secondary tabs-icon-left">-->
                <!--    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">-->
                <!--        <i class="icon ion-thumbsup"></i> Like-->
                <!--    </a>-->
                <!--    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">-->
                <!--        <i class="icon ion-chatbox"></i> Comment-->
                <!--    </a>-->
                <!--    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">-->
                <!--        <i class="icon ion-share"></i> Share-->
                <!--    </a>-->
                <!--</div>-->
            </div>
        </div>
    </ion-content>
</ion-view>
