<ion-view view-title="Üye Girişi">
    <ion-content class="im-wrapper">
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Gönderilen Şifre</span>
                <input type="tel" ng-model="formData.onekey" placeholder="Gonderilen Sifre">
            </label>
            <br />
            <button class="button button-block button-positive ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="verify()">
                Gönder
            </button>
        </div>
        <div class="row">
                {{result}}
        </div>
    </ion-content>
</ion-view>
