<ion-view view-title="Şikayet Menüsü">
    <ion-content class="im-wrapper">
        <div class="list">
            <label class="item item-input item-floating-label">
                    <span class="input-label">İçerik</span>
                    <textarea rows="5" type="text" ng-model="formData.icerik" placeholder="İçerik"></textarea>
            </label>
            <label class="item item-input item-select">
                <span class="input-label">Konu</span>
                <input type="text" ng-model="konu">
                <select ng-readonly="true" 
                        ng-options="sikayet.name as sikayet.name for sikayet in sikayetList track by $index"
                        ng-init="formData.tipi = sikayetList[0].name"
                        ng-model="formData.tipi"></select>
            </label>
            <br />
            <li class="item item-toggle">
                <span class="input-label">Kişisel Bilgilerimi Gizle</span>
                <label class="toggle toggle-positive">
                    <input type="checkbox" ng-model="formData.gizli"/>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            
            <br />
            <button class="button button-block button-positive ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="send_sikayet()">
                Gönder
            </button>
        </div>
    </ion-content>
</ion-view>
